VITE_SUPABASE_URL=https://lxwztuyhigdcvpdkwwle.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_0fQH4jMssrWTs1LtvXe20g_6xYgwuu9
VITE_GITHUB_REPO_URL=https://github.com/FarockYT/Sine
VITE_VERCEL_PROJECT_URL=https://sine-ruby.vercel.app/
